.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #525252;
  background-image: url("/header.background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.logo {
  background-color: #0659b3;
  opacity: 0.9;
  border-radius: 2rem;
  padding: 1rem;
  height: 21rem;
  width: 14rem;
}

.location {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
  padding: 1.5rem 0;
}

.names {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: #fff;
}

.names a {
  margin-top: 2rem;
}

.moreInformation {
  all: unset;
  background-color: #0659b3;
  padding: 1rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.25rem;
  cursor: pointer;
}

.moreInformation:hover {
  background-color: #022d69;
}

@media (min-width: 700px) {
  .container {
    flex-direction: row;
    gap: 10rem;
  }

  .names h1 {
    font-size: 4rem;
  }
}
